certifi==2025.10.5
charset-normalizer==3.4.4
einops==0.8.1
filelock==3.16.1
fsspec==2025.3.0
hf-xet==1.2.0
huggingface-hub==0.36.0
idna==3.11
imageio==2.35.1
lazy-loader==0.4
networkx==3.1
numpy==1.22.4
opencv-contrib-python==4.12.0.88
packaging==25.0
pillow==10.4.0
piq==0.8.0
PyWavelets==1.4.1
PyYAML==6.0.3
requests==2.32.4
safetensors==0.5.3
scikit-image==0.21.0
scipy==1.10.1
tifffile==2023.7.10
timm==1.0.21
torch==1.10.2+cu113
torchaudio==0.10.2+rocm4.1
torchinfo==1.8.0
torchvision==0.11.3+cu113
tqdm==4.67.1
typing-extensions==4.13.2
urllib3==2.2.3
